/* Regole generali */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Container */
.container {
    max-width: 1000px;
    margin: 0px auto;
}

/* Main */
.main-content {
    padding-top: 50px;
}

/* Tabella */
.table {
    border-collapse: collapse;
    width: 100%;
}

.table tbody tr:hover {
    background-color: #f5f5f5;
}

.table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.table th {
    padding: 15px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
    font-size: 16px;
    background-color: #1E1E1E;
    color: white;
}

.table td {
    border-bottom: 1px solid #1E1E1E;
    padding: 15px;
    font-size: 14px;
}

/* Form */
.form {
    padding-bottom: 20px;
}